@import 'tailwindcss/base';

@import 'tailwindcss/components';

/* Your own custom component styles */

@import 'tailwindcss/utilities';

.rs-transition {
  transition: all 1s;
}

.textarea {
  border-style: none;
  border-color: Transparent;
  overflow: auto;
}

#qr-code-hidden {
  display: hidden !important;
}
